img{
   --s: 250px;
   --b: 8px;
   --g: 15px;
   --c: #ffff;

   width: var(--s);
   aspect-ratio: 1;
   outline: calc(var(--s)/2)solid #000900;
   outline-offset: calc(var(--s)/-2);
   cursor: pointer;
   transition: 0.1sss;
}
img:hover{
   outline: var(--b)solid var(--c);
   outline-offset: var(--g);
}
img{
   border-radius: 50%;
}
body{
   margin: 0;
   min-height: 100vh;
   display: grid;
   grid-auto-flow: column;
   gap: 50px;
   place-content: center;
   place-items: center;
   background: rgb(59, 54, 54);
}
.groups{
   display: flex;
   flex-direction: column-reverse;
}
.group1{
   display: flex;
   flex-direction: row;
}